*{
  margin:0px;
  padding:0;
}
.container{
  margin: 20px;
}
.btn{
  border: 2px solid black;
  border-radius: 4px;
  padding: 5px 13px;
  font-size: 23px;
  font-weight:550;
  cursor: pointer;
}
.players{
  font-size: 27px;
 # font-weight:bold;
}
